{% load static %}



{% block content %}








<!-- footer section starts  -->

<section class="footer">

<div class="footer-container">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">products</a>
            <a href="#">featured</a>
            <a href="#">deal</a>
            <a href="#">review</a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">my favorite</a>
            <a href="#">my order</a>
            <a href="#">my cart</a>
        </div>

        <div class="box">
            <h3>donwload links</h3>
            <a href="#">windows store</a>
            <a href="#">app store</a>
            <a href="#">google store</a>
        </div>

        <div class="box">
            <h3>contact us</h3>
            <a href="#">+123-456-7890</a>
            <a href="#">example@gmail.com</a>
            <a href="#">mumbai, india - 400104</a>
            <img src="{% static 'images/payment.jpg' %}" alt="">
        </div>

    </div>

    <div class="credit"> created by <span> mr. web designer </span> | all rights reserved </div>

</div>

</section>

<!-- footer section ends -->


{% endblock %}






